{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collab</title>
    {% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'projects/styles.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    
    {% comment %} {% include './carousel.html' %} {% endcomment %}

    <div class="main-container" style="padding-top:97px;">
        {% include './searchfilter.html' %}
        {% include './categories.html' %}
        {% include './profiles.html' %}

    </div>

<script src={% static "colab/script.js" %}></script>

</body>
</html>